/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Video Gallery */
.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 300px;
  height: 0;
  padding-bottom: 40%;
  margin: 20px;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Merch */
#merch {
  padding: 50px 20px;
  text-align: center;
}

#merch h2 {
  margin-bottom: 20px;
}

#merch p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#merch img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  margin: 20px;
}

/* Contact */
#contact {
  padding: 50px 20px;
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 400px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

body {
  background-image: url("https://scontent.fmnl25-4.fna.fbcdn.net/v/t39.30808-6/311073925_115439764658356_3861746765389943913_n.png?stp=dst-png_s960x960&_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEtEWiLeGOwtALFxR9b-4z9j5L4f8TD5zuPkvh_xMPnO2wxig4b-3niaAlVxP3MhBIwgTMYp5wDrAujYrBbCnoG&_nc_ohc=AcwRPDs4oSEAX9SH4rg&_nc_ht=scontent.fmnl25-4.fna&oh=00_AfDu359OQ97qUmWZjG2ZeFj_AsDcXewTNdpFUQsnkmU5EA&oe=640B9852");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

